#footer
    .container
        #three.p.text-muted.credit
         a(href='http://www.linkedin.com/in/jaredeg') JaredEG
         |  Made this for a work project -
         a(href='http://github.com/jaredeg/joyride') Github
