ol#joyRideTipContent
    li.custom(data-class='form-control', data-text='Next')
        h2 URL Box
        p
          | This box is where you put the URL that you want to be shortened. Make to keep the format in http://, https://, or ftp://.
      li(data-id='sub', data-button='Next', data-options='tipLocation:top;tipAnimation:fade')
        h2 The shortnizer
        p Click this quick and easy button to shorten your link using our awesome algorithm.  If its a valid URL it will be shortened.
      li(data-id='three', data-button='Close', data-options='tipLocation:left')
        p
          | Curious about more information? Check out my linkedin or the github page!
